<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">Chats</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <div class="izq">
      <ion-header [translucent]="true">
        <ion-toolbar>
          <ion-title>
            Chats
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-searchbar></ion-searchbar>
      <div class="p">
        <ion-item href="/chat">
          <ion-avatar slot="start">
            <img alt="Silhouette of a person's head"
              src="https://static.nuso.org/media/cache/4a/06/4a069bed52821805b4cde486531d950e.jpg" />
          </ion-avatar>
          <ion-label>
            <h2>Andrés Manuel López Obrador</h2>
            <p>Hola hijo, ¿ya te llegó la beca?</p>
          </ion-label>
        </ion-item>
      </div>
      <div class="p">
        <ion-item href="/tabs/tab2">
          <ion-avatar slot="start">
            <img alt="Silhouette of a person's head"
              src="https://www.eleconomista.com.mx/__export/1507830105244/sites/eleconomista/img/historico/epnfs.jpg_390997036.jpg" />
          </ion-avatar>
          <ion-label>
            <h2>Enrique Peña Nieto</h2>
            <p>¿Qué dice el cabecita de algodón? &nbsp;&nbsp; <ion-icon name="radio-button-on-outline"></ion-icon>
            </p>
          </ion-label>
        </ion-item>
      </div>
      <div class="p">
        <ion-item href="/tabs/tab2">
          <ion-avatar slot="start">
            <img alt="Silhouette of a person's head"
              src="https://www.biografiasyvidas.com/biografia/s/fotos/salinas_carlos.jpg" />
          </ion-avatar>
          <ion-label>
            <h2>Carlos Salinas</h2>
            <p>Si les robé un montón, ni pedo&nbsp;&nbsp;<ion-icon name="radio-button-on-outline"></ion-icon></p>
          </ion-label>
        </ion-item>
      </div>
    </div>
  </div>
  
</ion-content>
